header {
    width: 100%;
    padding: 20px 0;
    position: absolute;

}

.top-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
   
}

.logo {
    display: block;
    height: 20px;
    width: auto;
    transition: all 0.2s;
}

.logo:hover {
    opacity: 0.8;
}

.header-right {
    display: inline-flex;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1080px) {
    .hamburger {
        display: block;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 21px;
        z-index: 10;
    }

    .hamburger_line_top, .hamburger_line_middle, .hamburger_line_bottom {
        position: absolute;
        display: block;
        top: 50%;
        width: 100%;
        height: 3px;
        background-color: #000;
        border-radius: 10px;
    }

    .hamburger_line_top {
        top: 0;
    }

    .hamburger_line_bottom {
        top: 100%;
    }

    .top-bar {
        position: fixed;
        top: 60px;
        left: 100%;
        display: block;
    }

}

.top-bar {
    display: flex;
    align-items: center;

}

.top-bar li {
    list-style: none;
    text-align: center;
    margin-right: 45px;

}

.top-bar-button {
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: black;
}

.button-line-1{
    font-size: 15px;
    display: block;
}

.button-line-2 {
    font-size: 10px;
    display: block;
}

.top-bar-button-right {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
    transition: all 0.2s;
}

.top-bar-button-right:hover {
    opacity: 0.8;
}

.main {
    font-family: 'Lato', sans-serif;
    display: block;
}

.main-view {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0px 28px 0px;
}

.responsible-image {
    display: none;
    width: 100%;
}


.main-view-top {
    margin-bottom: 70px;
    max-width: 1140px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
}

.main-view-top h2 {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
    width: fit-content;
}

.circle-images {
    margin-bottom: 45px;
}

.circle-images img {    
    vertical-align: middle;
}

.two-buttons {
    display: flex;
}

.button {
    border-radius: 38px;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    height: 64px;
    justify-content: center;
}

.counseling {
    background-color: #F79214;
    color: #fff;
    margin-right: 15px;
    width: 306px;
    transition: all 0.2s;
}

.counseling:hover {
    opacity: 0.8;
}


.document-request {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    color: #000;
    width: 176px;
    transition: all 0.2s;
}

.document-request:hover {
    opacity: 0.8;
}

.main-view p {
    color: #a2a2a4;
    font-size: 12px;
    margin-top: 70px;
}



.content {
    align-items: center;
    border: none;
    border-radius: 38px;
    flex-direction: column;
    height: 64px;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    width: 250px;
    color: #F79214;
    background-color: #fff;
    transition: all 0.2s;
}

.content:hover {
    opacity: 0.8;
}

.button-line-3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.button-line-4 {
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 767px) {
    .responsible-image {
        display: block;
    }

    .main-view {
        background-image: none;
        padding-top: 0;
        padding-bottom: 35px;
    }

    .main-view p {
        margin-top: 20px;
    }

    .main-view-top {
        margin-bottom: 20px;
        margin-top: -45vw;
    }

    .main-view-top h2 {
        font-size: 25px;
        line-height: 36px;
        width: 100%;
        text-align: center;

    }

    .circle-images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
    }

    .image-1, .image-3 {
        width: 27.5%;

    }

    .image-2 {
        width: 40%;
    }

    .counseling {
        font-size: 14px;
        width: 100%;
    }

    .document-request {
        display: none;
    }
    
}

.about-potepancamp {
    background-color: #f79214;
    display: flex;
    padding: 45px 0px;
}

   
    
    @media screen and (max-width: 767px){
.about-poteponcamp {
    padding: 30px 0;
}}


  @media screen and (max-width: 767px){
    .about {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }}
    
    @media screen and (max-width: 1080px){
    .about {
    flex-direction: column;
    }}
    
  
    
    .about {
    max-width: 1140px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    }

  
    @media screen and (max-width: 124px){
    .About__video {
    margin-bottom: 16px;
    width: 20%;
    }}
    
    @media screen and (max-width: 767px){
    .About__video {
    width: 100px;
    }}
    
   
    
     .About__video {
    width: 50%;
    
    }
 
    video {
    object-fit: contain;
}
    
    @media screen and (max-width: 767px){
.About__title {
    margin-bottom: 0;
    width: 100%;
}}

@media screen and (max-width: 1080px){
.About__title {
    margin-left: 0;
    width: 75%;
}}




.About__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 32px;
}
    



.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 767px){
.About__title h2 {
    font-size: 20px !important;
    line-height: 1.2;
    text-align: center;
}}

.About__title h2 {
    font-family: 'Lato',sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    
}


@media screen and (max-width: 767px){
.About__title h2 span {
    font-size: 30px;
    letter-spacing: 1px;
}}

.About__title h2 span {
    font-size: 36px;
    font-weight: 900;
    
}


.About__title h2, .About__title p {
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 767px){
.About__title p {
    font-size: 16px;
    line-height: 21px;
    text-align:left;
}}

.About__title p {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 20px;
    text-align: left;
}

.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom:20px; 
}
a {
    color: #000;
    text-decoration: none;
}

.About__button>img {
    margin-right: 5px;
}
img {
    border: 0;
    vertical-align: middle;
}

